<h1>New Room</h1>

<form action="/rooms" method="post">
    <div class="field">
        <label for="room_name">Name</label>
        <input type="text" name="room[name]" id="room_name">
    </div>
    <div class="actions">
        <input type="submit" value="Create Room">
    </div>
</form>

<a href="/rooms">Back</a>