<turbo-stream-websocket-source src="/rooms/{{.Room.ID}}/messages/socket"></turbo-stream-websocket-source>

<turbo-frame id="room">
  {{ template "room" . }}
  <p>
    <a href="/rooms/{{.Room.ID}}/edit">Edit</a> |
    <a href="/rooms" data-turbo-frame="_top">Back</a>
  </p>
</turbo-frame>

<div id="messages">
  {{ range .Room.Messages }}
      {{ template "message" . }}
  {{ end }}
</div>

<turbo-frame id="new_message" src="/rooms/{{.Room.ID}}/messages/new" target="_top"></turbo-frame>